/**************************************TAGS**********************************************/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
 

}
body {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #40514e;
  background: linear-gradient(lightCyan, lightGray);
  overflow-x: hidden;
  
}
h1 {
  /* margin: 50px auto 0 auto; */
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  margin-top: 2rem;
  color: #66bfbf;
}
h2 {
  font-family: "Poppins", serif;
  font-size: 5rem;
  font-weight: 900;
  color: #66bfbf;
  
  /* padding-bottom: 10px;
  margin-top: 40px; */
}
h3 {
  font-family: "Merriweather", serif;
  color: #11999e;
  font-size: 2rem;
}

p {
  line-height: 2;
}

hr {
  border: none;
  width: 7%;
  border-top: 10px dotted gray;
  margin: 100px auto;
}
a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: aliceblue;
}

/**************************************Class******************************************/
.dp {
  width: 300px;
}
.top {

  background-color: #e4f9f5;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}
.profile h2{
 font-size: 3rem;
  white-space: nowrap;

}
.profile p{
  font-size: 1.3rem;
  display: inline-flex;
  width: 50vw;
  /* max-width: 100%;
  min-width: 50%; */
  
}

.bottom-cloud {
  position: absolute;
  left: 3rem;
  bottom: 10rem;
  max-width: 15rem;
}
.top-cloud {
  position: absolute;
 top: 1rem;
 right: 2rem;
 max-width: 15rem;
}
.mountain {
  margin-top:5rem;
 width: 50%;
 height: 40%;
 position: absolute;
 bottom: 0;
}
.skills{
  display: flex;
  flex-direction:column ;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.skill-row {
 max-width: 80%;
max-height: 35vh;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* flex-wrap: wrap; */
  text-align: left;
}
.skill-row p{
  font-size: 1.3rem;
  display: inline-flex;
  max-width: 100%;
  min-width: 50%;
}
.burger {
 width: 25vw;
  float: left;
  margin-right: 30px;
}
.chilli {
  width: 25vw;
  float: right;
  margin-left: 30px;
}
.middle-container {
  margin: 100px 0 100px 0;
  
}
/* .intro {
  width: 30%;
  margin: 0 auto 0 auto;
} */
.contact-me{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.msg {
 max-width: 50%;
  font-size: 1.2rem;
  font-weight: 200;
  margin: 40px auto 50px auto;
}
.bottom-container {
  background-color: #66bfbf;
  padding: 2rem 0 0 0;
}
.copy {
  color: aliceblue;
  padding: 20px 0;
  font-size: 0.75rem;
  margin-bottom: 0;
  margin-top: 20px;
}

/* .web {
  text-decoration: line-through;
} */

/****************************************BUTTON-COPIED**********************************/
.btn {
  background: #421c5d;
  background-image: -webkit-linear-gradient(top, #421c5d, #11cdd4);
  background-image: -moz-linear-gradient(top, #421c5d, #11cdd4);
  background-image: -ms-linear-gradient(top, #421c5d, #11cdd4);
  background-image: -o-linear-gradient(top, #421c5d, #11cdd4);
  background-image: -webkit-gradient(to bottom, #421c5d, #11cdd4);
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  border-radius: 90px;
  height: 40px;
  /* line-height: px; */
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  width: 15rem;
  font-size: 15px;
  font-weight: 600;
  padding: 1rem 2rem;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337fed 0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: groove #d25df3 0;
  background: linear-gradient(lightGray, gray);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-decoration: none;
  color: #270606;
}

@media (max-width:800px){
  html{
    font-size: 70%;
  }
  .cloud{
    width: 12rem;
  }
  .top{
    justify-content: flex-start;
  }
  h2{
    font-size: 4rem;

  }
  .top-head{
    margin-top: 10rem;
  }
  hr{
    margin-top: 60px;
  margin-bottom: 5px;
    
  }
  .bottom-cloud{
    bottom: 20rem;
  }
  .mountain{
    width: 90%;
    height: 39%;
  }
  .profile{
   
    height: 50vh;
  }
  p{
    font-size: 3rem;
   
  }
  .dp{
    width: 200px;
  }
  .skills{
    height: 90vh;
  }
 .skill-row{
   max-width: 90%;
   align-items: unset;
 }
 /* .burger{
   height: 10\rem;
 } */
 .msg{
   width: 70%;
   margin: 0;
 }
 .contact-me{
   height: 80vh;
  }
  .copy{
    margin: 0;
    line-height: 0;
  }
}
